.DS_Store
/build
.build
.swiftpm
.spm.pods
Package.resolved
Carthage/Build
Carthage/Checkouts

# CocoaPods
Pods/
Podfile.lock
**/SmokeTests/**/Podfile
!**/SmokeTests/**/Podfile.src

xcuserdata/
DerivedData/
*.local.xcconfig
.netrc
